.card {
    background-color: rgb(101, 100, 100);
    color: white;
    aspect-ratio: 1.6/1;
    border-radius: 16px;
    width: 400px;
    padding: 24px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
}
.topRow {
    display: flex;
    justify-content: space-between;
}
.numberRow {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: "Courier New", monospace;
    /* font-weight: 700; */
    letter-spacing: 6px;
    /* margin: 20px 0; */
}

.bottomRow {
    display: flex;
    justify-content: space-between;
}
.chip {
    width: 50px;
}
.logo {
    height: 50px;
    width: 35px;
}
.label {
    font-size: 0.7rem;
    opacity: 0.75;
    text-transform: uppercase;
}
