.stack {
    display: flex;
    flex-direction: column;
}

.cardWrapper:not(:last-child) {
    margin-bottom: -190px;
}
.cardWrapper {
    transition: box-shadow 0.2s ease;
    cursor: pointer;
    border-radius: 16px;
}

.cardWrapper:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
    border-radius: 16px;
}
